---
import '@/styles/global.css'
import Layout from '../layouts/Layout.astro';
import HeadingBadgeAndButtons from '../components/organism/HeadingBadgeAndButtons.astro';
import Features from '../components/organism/Features.astro';
import FeaturesTwo from '../components/organism/FeaturesTwo.astro';
import { FrequentlyAsks } from "../components/organism/FrequentlyAsks"
import { ContactForm } from '@/components/organism/ContactForm';
---

<Layout title="DbSoft Co">
	<main class="w-full flex flex-col items-center">
		<div class="xl:w-3/4 w-[90%] mt-16">
			<HeadingBadgeAndButtons 
				headerText="Elevando la construcción con la innovación de DbSoft Co: Tu éxito, nuestro software." 
				text="Optimiza tus proyectos con nuestra solución de gestión para constructoras. Simplifica la administración, mejora la eficiencia y garantiza el éxito en cada obra. Confía en nosotros para llevar tu empresa al siguiente nivel." 
			/>
			<Features />
			<FeaturesTwo />
			<div>
				<FrequentlyAsks client:visible/>
			</div>
			<ContactForm client:visible/>
		</div>
	</main>
</Layout>