---
import Layout from '../layouts/Layout.astro';
import HeadingBadgeAndButtons from '../components/organism/HeadingBadgeAndButtons.astro';
import Features from '../components/organism/Features.astro';
import FeaturesTwo from '../components/organism/FeaturesTwo.astro';
import { FrequentlyAsks } from "../components/organism/FrequentlyAsks"
import ContactForm from '@components/organism/ContactForm.astro';
---

<Layout title="DbSoft Co">
	<main>
		<HeadingBadgeAndButtons 
			headerText="Elevando la construcción con la innovación de DbSoft Co: Tu éxito, nuestro software." 
			text="Optimiza tus proyectos con nuestra solución de gestión para constructoras. Simplifica la administración, mejora la eficiencia y garantiza el éxito en cada obra. Confía en nosotros para llevar tu empresa al siguiente nivel." 
		/>
		<Features />
		<FeaturesTwo />
		<div>
			<FrequentlyAsks client:load/>
		</div>
		<ContactForm/>
	</main>
</Layout>