---
import Layout from '../layouts/Layout.astro';
import HeadingBadgeAndButtons from '../components/organism/HeadingBadgeAndButtons.astro';
import SectionHeader from '../components/molecules/SectionHeader.astro';
import Features from '../components/organism/Features.astro';
---

<Layout title="DbSoft Co">
	<main>
		<HeadingBadgeAndButtons 
			headerText="Beautiful analytics to grow smarter" 
			text="Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups." 
		/>
		<Features />
	</main>
</Layout>
