---
import Input from "@components/atoms/Input.astro";
import InputGroup from "@components/molecules/InputGroup.astro";
import SectionsContainer from "@components/atoms/SectionsContainer.astro";
import TextArea from "@components/atoms/TextArea.astro";
---

<SectionsContainer>
  <h5>Contacto</h5>
  <form action="" method="post" id="form">
    <InputGroup />
    <Input inputName="email" type="email" placeholder="Tu Email"/>
    <TextArea inputName="mensaje" placeholder="Deja tu mensaje aqui..."/>
    <input type="submit" value="Enviar mensaje" class="submitBtn" id="submit"/>
  </form>
</SectionsContainer>
<script>
  import Swal from 'sweetalert2'
  import validator from "validator";

  const form = document.querySelector("#form") as HTMLFormElement;
  const submitButton = document.querySelector("#submit") as HTMLButtonElement;
  const inputName = document.querySelector("#nombre") as HTMLInputElement;
  const inputLastName = document.querySelector("#apellido") as HTMLInputElement;
  const inputEmail = document.querySelector("#email") as HTMLInputElement;
  const inputMessage = document.querySelector("#mensaje") as HTMLInputElement;

  const scriptURL = "https://script.google.com/macros/s/AKfycbyd4ZvQSc7X3nptV-9y1UChb7gHa1fckMRKXB-c8IZzpG-ZQmLCtihcheTJTD2wg-WP1Q/exec";
  form.addEventListener('submit', e => {
    e.preventDefault()

    const errors = [];

    if (!inputName.value) {
      inputName.classList.add("error");
      errors.push("Nombre");
    } else {
      inputName.classList.remove("error");
    }

    if (!inputLastName.value) {
      inputLastName.classList.add("error");
      errors.push("Apellido");
    } else {
      inputLastName.classList.remove("error");
    }

    if (!inputEmail.value) {
      inputEmail.classList.add("error");
      errors.push("Email");
    } else {
      const isEmail = validator.isEmail(inputEmail.value);

      if (inputEmail.value && !isEmail) {
        inputEmail.classList.add("error");
        errors.push("Email - ingresa un email valido");
      } else {
        inputEmail.classList.remove("error");
      }
    } 

    if (!inputMessage.value) {
      inputMessage.classList.add("error");
      errors.push("Mensaje");
    } else {
      inputMessage.classList.remove("error");
    }

    if (errors.length > 0) {
      const errorMsg = `Los siguientes campos son requeridos: ${errors.join(", ")}`;
      Swal.fire({
        icon: "error",
        title: "Campos requeridos",
        text: errorMsg,
      });
    }

    if (errors.length === 0) { 
      const requestBody = new FormData(form);

      for (let entry of requestBody.entries()) {
        console.log(entry[0] + ": " + entry[1]);
      }

      submitButton.disabled = true;

      fetch(scriptURL, { method: 'POST', redirect: 'follow', body: requestBody})
      .then(response => {
        console.log(response);
        Swal.fire({
          icon: "success",
          title: "Muchas gracias!",
          text: "Nos pondremos en contacto contigo en breve."
        })
        form.reset();
      })
      .catch(error => {
        Swal.fire({
          icon: "error",
          title: "Muchas gracias!",
          text: "Nos pondremos en contacto contigo en breve."
        })
        console.log(error)
        submitButton.disabled = false;
      })
    }
  })
</script>
<style>
  h4 {
    color: var(--main-color)
  } 

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .submitBtn{
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 800;
    color: white;
    height: 30px
  }

  .submitBtn:disabled {
    background-color: #ccc;
    color: #999; 
    cursor: not-allowed; 
  }

  @media (min-width: 1200px) {
    form {
      width: 50%
    }
  }
</style>