---
import SectionsContainer from "../atoms/SectionsContainer.astro";
import FeatureCard from "../molecules/FeatureCard.astro";
import SectionHeader from "../molecules/SectionHeader.astro";
import FeaturesReact from "./FeaturesReact";
import { featuresData1 } from "./featuresData";
---

<SectionsContainer>
  <div class="xl:w-[65vw]">
    <SectionHeader
			heading="Potencia tu proyecto con la innovación total de nuestro sistema"
			subheading="Que ofrecemos?"
			text="Te ayudamos a mantener la gestion total de tu empresa, desde la gestion de proyectos, hasta todo lo relacionado con la administracion de RRHH, controlalos gastos de tu empresa y factura de manera segura!"
		/>
  </div>
  <FeaturesReact client:load />
</SectionsContainer>
