---
import Icons from "../atoms/Icons.astro";
import BrandIcons from "../molecules/BrandIcons.astro";

---

<div class="flex flex-row items-center justify-between py-3 w-full shadow lg:h-24 lg:py-16 lg:bg-white">
  <BrandIcons />
  <Icons iconName="carbon:menu" variant="none"/>
</div>
<style>
  .shadow {
    box-shadow: -2px -7px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -7px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -7px 36px 0px rgba(0,0,0,0.75);
  }
</style>
