---
import Icons from "../atoms/Icons.astro";
import BrandIcons from "../molecules/BrandIcons.astro";

---

<div class="header">
  <BrandIcons />
  <Icons iconName="carbon:menu" variant="navBar"/>
</div>
<style>
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 16px;
    width: 100%;
  }
</style>