---
import Icons from "../atoms/Icons.astro";
import BrandIcons from "../molecules/BrandIcons.astro";

---

<div class="flex flex-row items-center justify-between py-3 w-full shadow-lg lg:h-24 lg:py-16 lg:bg-white">
  <BrandIcons />
  <Icons iconName="carbon:menu" variant="none"/>
</div>
