---
import { Image } from 'astro:assets';
import SectionsContainer from '../atoms/SectionsContainer.astro';
import ButtonGroup from '../molecules/ButtonGroup.astro'
import MacBook from "@assets/macbook.svg"


interface Props {
  headerText: string;
  text: string;
}

const { headerText, text } = Astro.props
---

<SectionsContainer>
  <h2>{headerText}</h2>
  <p>{text}</p>
  <ButtonGroup />
  <div class="imageContainer">
    <Image src={MacBook} alt="mackbook with dashboard" class="macbook"/>
  </div>
</SectionsContainer>
<style>
  @media (min-width: 1200px) {
    .macbook {
      width: 70vw;
    }

    h2 {
      width: 60vw;
      line-height: 72px;
    }

    p {
      width: 50vw;
    }
  }
</style>