---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="badge bg-white flex flex-row text-xs rounded-2xl px-1 py-2">
  {text}
</div>
<style>
  .main-color {
    color: var(--main-color);
  }
</style>