---
interface Props {
  variant: "main" | "secondary";
  text: string;
}

const { variant, text } = Astro.props;
---

<button class={`rounded-lg text-base flex flex-row justify-center items-center gap-2 py-3 px-5 font-semibold  md:text-xl md:py-4 md:px-6 ${variant === "main" ? "main" : "secondary"}`}>
  <slot />
  {text}
</button>
<style>
  .main {
    background-color: var(--main-color);
    color: white;
  }

  .secondary {
    color: black;
    background-color: white;
    border: 1px solid #D0D5DD;
  }
</style>
