<section class="md:px-16 h-fit md:flex md:items-center md:justify-center md:overflow-hidden">
  <div class="py-4 h-fit flex flex-col items-center gap-12 overflow-hidden md:py-8 md:content-center ">
    <slot />
  </div>
</section>
