

.accordeonItem p {
  text-align: start;
}

.accordeonItem {
  opacity: 1;
  max-height: 500px; /* Un valor máximo para la altura que sea mayor que el contenido real */
  overflow: hidden;
  transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}

.invisible {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}