.accordeonItemContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
}

h4 {
  text-align: start;
}

.iconAccordeon {
  border: 2px solid #7F56D9;
  color: #7F56D9;
  border-radius: 16px;
  width: 24px;
  height: 24px;
}

.accordeonItem p {
  text-align: start;
}

.accordeonItem {
  opacity: 1;
  max-height: 500px; /* Un valor máximo para la altura que sea mayor que el contenido real */
  overflow: hidden;
  transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}

.invisible {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}


.accordeonTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}