<div class="brandIcons">
  <img src="./logoIcon.svg" alt="Brand icon" />
  <img src="./logoText.svg" alt="Brand icon text" />
</div>
<style>
  .brandIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
</style>
