---
import Button from '../atoms/Button.astro'
import Icons from '../atoms/Icons.astro';
---

<div class="buttonGroup">
  <Button variant='main' text='Singn In'/>
  <Button variant='secondary' text='Demo'>
    <Icons iconName="carbon:play-outline"/>
  </Button>
</div>
<style>
  .buttonGroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
  }
</style>