---
import BrandIcons from "./BrandIcons.astro";
---

<div class="footerbrand">
  <BrandIcons  />
  <p>© 2077 Untitled UI. All rights reserved.</p>
</div>
<style>
  .footerbrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
    gap: 32px;
    box-shadow: -2px -19px 75px -3px rgba(0,0,0,0.32);
    -webkit-box-shadow: -2px -19px 75px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: -2px -19px 75px -3px rgba(0,0,0,0.32);
  }
</style>