@import "../../../colorVars.scss";

.button {
    all: unset;
    font-weight: 600;
    width: 90%;
    height: 3rem;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

.button--normal {
    background-color: $primary-color;
    color: white;
}

.button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    border: 1px solid #D0D5DD;
    color: black
}