--- 
import FooterBrand from '../components/molecules/FooterBrand.astro';
import Header from '../components/organism/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="dbsoftco, sistema de gestion, recursos humanos, constructora, sistema de gestion para constructoras">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta http-equiv="Content-Language" content="es"/>
		<meta name=”distribution” content=”global”/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
		<Header />
	</header>
	<body>
		<slot />
	</body>
	<footer>
		<FooterBrand />
	</footer>
</html>
<style is:global>
	:root {
		--main-color: #7F56D9;
  	--secondary-color: #F4EBFF;
  	--tertiary-color: #F4EBFF;

		--h2-size: 36px;
		--h3-size: 30px;
		--h4-size: 20px;
		--h5-size: 14px;
		--p-size: 12px;

		--p-color: #667085;
		--title-color: #101828;

		@media (min-width: 768px) {
			--h2-size: 42px;
			--h3-size: 36px;
			--h4-size: 26px;
			--h5-size: 20px;
			--p-size: 16px;
		}

		@media (min-width: 1200px) {
			--h2-size: 60px;
			--h3-size: 36px;
			--h4-size: 26px;
			--h5-size: 20px;
			--p-size: 16px;
		}
	}

	* {
		text-align: center;
		margin: 0;
	}

	html {
		font-family: Inter, sans-serif;
	}

	header {
		height: 72px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: sticky;
		top: 0;
		background-color: white;
		z-index: 1;
	}

	p {
		font-size: 18px;
		line-height: 28px;
		text-align: center;
	}

	h2 {
		font-size: var(--h2-size);
		font-weight: bold;
		line-height: 44px;
		margin: 0;
		height: auto;
		color: var(--title-color);
	}

	h3 {
		font-size: var(--h3-size);
		font-weight: bold;
		line-height: 38px;
		color: var(--title-color);;
	}

	h4 {
		font-size: var(--h4-size);
		font-weight: bold;
		line-height: 28px;
		color: var(--title-color);
	}

	h5 {
		font-size: var(--h5-size);
		font-weight: bold;
		color: var(--main-color);
		line-height: 20px;
	}

	p {
		font-size: var(--p-size);
		color: var(--p-color);
		line-height: 28px;
	}

	label {
		font-weight: 700;
		font-size: 12px;
	}

	/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo de la pista (track) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la pista */
}

/* Estilo del pulgar (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Color del pulgar */
  border-radius: 6px; /* Bordes redondeados del pulgar */
}
</style>
